<head>
<h1> About us </h1>
</head>

<footer>
    <nav>
    <a href = "/"> Home </a> 
    <a href = "/login"> Login </a> 
    <a href = "/register"> Register </a> 
    <a href= "/aboutUs"> About </a>
    <details>
    <summary> &copy; Saurabh Gaglani 2019 </summary> 
    <p> All rights reserved </p>
    <p>Email: <a href= "mailto:me@email.com">me@email.com</a> </p>
    </details>
    </nav>
    </footer>
    