<h1> Add User </h1>


<form action = "/register" method = "POST">
    <div>
        <label for = "firstname"> firstname </label>
        <input type = "text" id = "firstname" name = "firstname" required>
    </div>

    <div>
        <label for = "lastname"> lastname </label>
        <input type = "text" id = "lastname" name = "lastname" required>
    </div>

    <div>
        <label for = "email"> Email </label>
        <input type = "text" id = "email" name = "email" required>
    </div>

    <div>
        <label for = "Password"> Password </label>
        <input type = "password" id = "password" name = "password" required>
    </div>

    <button type = "submit"> Register </button>
</form>
