<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title> Login </title>

    </head>

<h1> Administrator Login </h1>
<form action = "/adminlogin" method = "POST">
    
    <div>
        <label for = "username"> Username </label>
        <input type = "text" id = "username" name = "username" required>
    </div>

    <div>
        <label for = "Password"> Password </label>
        <input type = "password" id = "password" name = "password" required>
    </div>

    <button type = "submit"> Login </button>
</form>

<footer>
<a href = "/"> Home </a> </br>
<a href="/register"> Register </a></br>
</footer>
</html>