<!DOCTYPE html>
<html lang="en-IE">
<head>
<meta charset = "utf-8">
<link rel="shortcut icon" type="image/x-icon" href="E.ico" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="styles.css" rel="stylesheet">
<title>ECOCHIP</title>
</head>


<body>


<header>

<h1> ECO<span>CHIP</span> </h1> 

<nav>
<a href = "/"><i class="fa fa-home"></i> Home </a> 
<a href = "/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a> 
<a href = "/about"><i class="fa fa-question-circle" aria-hidden="true"></i>About Us </a> 
<a href="/register"><i class="fa fa-users" aria-hidden="true"></i> Register</a>
</ul>
</nav>
</div>

</header>

<div class="im">
<main>
<h2> Our Mission </h2> 
<p> Ecochip raises awareness on environmental issues and develops solutions.</p>
</div>
<br>
<br>
</div>
<div class= "row">

<div class= "column">
<h3> Positivity </h3>
<div class="container">
<a href = "about.html">
<img src="climate-protesters.webp" alt="positive" width= "250" height= "300">
<div class="overlay">
<div class="text"> Frequently Asked Questions</div>
</div>
</div>
</a>
<p>We gather all the information we can find about climate change and tell you how you can help!</p>
</div>

<div class="column 1"> 
<h3> Teamwork </h3>
<div class="container">
<a href= "resources.html"> 
<img src="Teamwork1.jpg" alt="positive" width= "200" height= "300"><!--https://cn.depositphotos.com/2618170/stock-photo-teamwork.html -->
<div class="overlay">
<div class="text"> Meet our family!</div>
</div>
</div>
</a>
<p>Climate change is not irreversible just yet, we believe in doing all that we can to educate people in reducing it. 
If you don't love us, check out these other websites!</p>
<label>
</div>


<div class="column 2">
<h3> Having fun!</h3>
<div class="container">
<a href= "competition.html">
<img src="signup.jpg" alt="positive" width= "250" height= "282" > <!--https://creativemarket.com/b-s-d/3041554-Sign-up-button-click-glyph-icon -->
<div class="overlay">
<div class="text"> Sign up for our competition!</div>
</div>
</div>
</a>
<p>  Climate change does not have to be all gloomy, to that end, we host a lot of competitions and fun events for all the environmental 
activists out there. Click here to sign up! </p>
</div>
</div>
<br>
<br>
<h4> Watch </h4>
<hr>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4DsGrRMXcZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
<iframe width="560" height="315" src="https://www.youtube.com/embed/CubtcwIZEWc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<hr>

</main>

<footer>
<nav>
<a href = "/"> Home </a> 
<a href = "/login"> Login </a> 
<a href = "/register"> Register </a> 
<a href= "/aboutUs"> About </a>
<details>
<summary> &copy; Saurabh Gaglani 2019 </summary> 
<p> All rights reserved </p>
<p>Email: <a href= "mailto:me@email.com">me@email.com</a> </p>
</details>
</nav>
</footer>

</body>
</html>

