<h1> remove user </h1>
<p> Enter details of user you would like to be removed</p>
<form action="removeUser" method = "POST">
    <input type = 'email', name = 'email', id = 'email'> </input>
    <button type="submit"> submit </button>
</form>