<head>
<h1> Welcome User </h1>
</head>


<footer>
<a href="/" id = "signout"> Sign out </a>
<script>
    document.getElementById("signout").onclick = function so(){
        if(confirm("Are you sure you want to sign out?"));
        {
            window.location.href = "/home/sgaglani/ssp/biggusdatus/views/home.ejs";
        }
    
    }
</script>

</footer> 